<div class="page">
      <div class="flex-fill">
        <div class="header py-4">
          <div class="container">
            <div class="d-flex">
              <%=link_to(root_path, class:"header-brand") do%>
                <%= image_tag("stickyheader.png", class:"header-brand-img", alt:"bnbwithme") %>
              <%end%>
              </a>
              <div class="d-flex order-lg-2 ml-auto">
                <%=render "layouts/dashboard/user/user_menu"%>
              </div>
              <a href="#" class="header-toggler d-lg-none ml-3 ml-lg-0" data-toggle="collapse" data-target="#headerMenuCollapse">
                <span class="header-toggler-icon"></span>
              </a>
            </div>
          </div>
        </div>
        <div class="header collapse d-lg-flex p-0" id="headerMenuCollapse">
            <%=render "layouts/dashboard/menu"%>
        </div>
          <div class="my-3 my-md-5">
            
              <%=yield%>

          </div>
        <div class="my-3 my-md-5">
        </div>
      </div>
        <%=render "layouts/dashboard/footer" %>
    </div>